/* Basic setup */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    outline: 0;
}

body {
    font-family: 'Abel', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-bottom: 15px;
    line-height: 150%;
    font-weight: normal;
}

ol,
ul {
    margin-right: 15px;
    margin-left: 25px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
    color: #666;
}

h3 {
    font-size: 1.3em;
    color: #999;
}

h4 {
    font-size: 1.2em;
    color: #aaa;
}


/* Tables */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table td,
table th {
    padding: 5px;
}

table tr:not(:last-child) td,
table th {
    border-bottom: 1px solid #ccc;
}

table td:not(:last-child),
table th:not(:last-child) {
    border-right: 1px solid #ccc;
}

blockquote {
    font-size: 1.8em;
    color: #aaa;
    font-style: italic;
    padding: 0 10%;
}

/* hightlighted text: 
	- Safari >=1.1, Opera >=9.5, IE9
	- Firefox >=1 */
::selection {
    background: #aaa;
}

::-moz-selection {
    background: #aaa;
}


/* Basic classes */
.align-left,
.alignleft {
    float: left;
    margin-right: 15px;
}

.align-right,
.alignright {
    float: right;
    margin-left: 15px;
}

.clearer {
    clear: both;
}

/* Basic structure */
#wrapper {
    padding: 10px 20px;
    width: 960px;
    margin: 0 auto;
}

header {
    margin-top: 50px;
    margin-bottom: 80px;
    clear: both;
}

#logo {
    float: right;
}

footer {
    border-top: 1px solid #ddd;
    font-size: 0.8em;
    color: #999;
    text-align: right;
    margin-top: 20px;
}

footer p {

}

footer p a,
footer p a:link,
footer p a:active {
    text-decoration: none;
}


/* Navigation */
nav {
    list-style-type: none;
}

nav a,
nav a:link,
nav a:active {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #aaa;
}

nav a:hover {
    color: #000;
}


/* Normal links */
a,
a:link,
a:active {
    color: #999;
    text-decoration: underline;
}

a:hover {
    color: #333;
}

/* 1000px: smaller screen */
@media (max-width: 1000px) {
    #wrapper {
        width: auto;
        padding: 0;
        margin: 0 20px;
    }
}

/* 720px: nav collapse */
@media (max-width: 720px) {
    #logo {
        margin: 0 auto;
        float: none;
    }

    header {
        text-align: center;
    }

    nav a {
        font-size: 1.5em;
    }

    .align-left {
        float: none;
    }

    .align-right {
        float: none;
    }

    #main img {
        width: 100%;
    }
}