/* fade in - fade out header */
.header
{
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
 
    -webkit-transition-timing-function: cubic-bezier( 0.2, 0.6, 0.4, 1.0 );
    transition-timing-function: cubic-bezier( 0.2, 0.6, 0.4, 1.0 );
 
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
 
.header--hidden
{
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
}





/* nav animations */
.nav a:hover
{
	color: #ff66ff;
	-webkit-transition:color 200ms ease-out;
	-moz-transition:color 200ms ease-out;
	-o-transition:color 200ms ease-out;
	transition:color 200ms ease-out;
}

/* opactity animations */
.links a:hover img
{
	opacity:1;
	-webkit-transition:opacity 200ms ease-out;
	-moz-transition:opacity 200ms ease-out;
	-o-transition:opacity 200ms ease-out;
	transition:opacity 200ms ease-out;
}



/* MEDIA QUERIES 
 * more info: http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
 */

/* printing */
@media print {

}

/* mobile fixes */
@media (max-width: 1000px) {

}


/* DEVICES
 * todo: check for changes, maybe: http://stephen.io/mediaqueries/
 */

/* ipad */
@media only screen and (max-width: 1024px) {

}

/* iphone */
@media only screen and (max-width: 480px) {

}

/* Detect via aspect ratio:
 * http://stackoverflow.com/questions/12539697/iphone-5-css-media-query
 */
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {}

/* iPhone 5: */
@media screen and (device-aspect-ratio: 40/71) {}

/* iPhone 6: */
@media screen and (device-aspect-ratio: 667/375) {}

/* iPhone 6 Plus: */
@media screen and (device-aspect-ratio: 16/9) {}

/* iPad: */
@media screen and (device-aspect-ratio: 3/4) {}



/* ORIENTATION */
@media screen and (orientation: portrait) {

}

@media screen and (orientation: landscape) {

}